-
  let itemList = [
    "AP",
    "D-Energy",
    "Demon Voucher",
    "Devil Point",
    "Grimm",
    "LD Ticket",
    "Raven",
    "Story Key",

    "Glow Stick (Blue)",
    "Glow Stick (Green)",
    "Glow Stick (Orange)",
    "Glow Stick (Pink)",
    "Glow Stick (Purple)",
    "Glow Stick (Rainbow)",
    "Glow Stick (Red)",
    "Glow Stick (Yellow)",

    "Family Pack Sushi",
    "First Aid Kit",
    "Flower",
    "Game",
    "Backstabbing Sandwich",
    "Bandage",
    "Barbatos's Signature Cake",
    "Barbatos's Tea",
    "Black Coffee of Melancholy",
    "Book",
    "Comfort Candy",
    "Human World Cheeseburger",
    "Instant Noodles (Hell-Sauce Flavor)",
    "Madam Scream's Macarons",
    "Manga",
    "Medicine",
    "Message Card",
    "Movie Ticket",
    "Paradise Blue",
    "Perfume",
    "Pocket Tissue",
    "Poison",
    "Princess's Poison Apple",
    "RedxRed Apple Pie",
    "Spicy Rainbow Pizza",
    "Unidentified Matter",
    "Whip of Love",
    "Wicked Cupcake",

    "SSR or Higher Demon Voucher",
    "UR Demon Voucher",
    "UR+ Demon Voucher",
  ];
